{% extends "base.html" %}

{% block app_content %}
    <div class="'jumbotron text-center">
        <h1>Welcome to Ski rental App</h1>

        <p class="lead">Faster to book, easier to manage</p>
        <p> Next five days average temperature in Boulder  is {{ temp }}</p>

        <br>
        <p> Buying a Ski equipment is expensive. Especially for students. So we're going to develop a ski rental website where users can quickly order a ski equipment; For managers, they can manage the inventory of ski equipment by adding, modifying, and deleting certain ski. The inventory information will be fed back to the user's reservation interface in real time.</p>
    </div>
{% endblock %}