{% extends "base.html" %}

{% block app_content %}
    <h1>Hello, manager!</h1>
  <br>
 <br>
        <p align="center">

             <br>
        <br>
            <a href=/dashboard >
                <button class="btn btn-lg" style="height:100px;width:300px">
                    modify</button>
            </a>
        </p>
        <a href=/ >
                <button class="btn btn-lg" style="position: absolute; left: 20%; right: 20%; bottom: 15%; height:100px; width:200px">
                    back </button>
            </a>

{% endblock %}