{% extends "base.html" %}


{% block app_content %}

  <h1>Booking confirmation</h1>
  <hr>
<table class="table table-striped">
    <tr>
      <th>ski brand</th>
      <th>ski type</th>
        <th>total price($/day)</th>
        <th></th>
    </tr>
            {% for ski in skis %}
      <tr>
        <td>{{ski.ski_brand}}</td>
        <td>{{ski.ski_type}}</td>
          <td>{{ski.price}}</td>
      </tr>

            {%endfor%}
</table>
{% for ski in skis %}
<hr>
<h1 class="btn pull-right" style='font-size:20px;'> <b>The total price is</b> ${{ski.price}} / day</h1>
<a href=/customer/{{ski.ski_brand}} >
                <button class="btn btn-lg" style="position: absolute; left: 10%; right: 20%; bottom: 10%; height:70px; width:140px">
                    back </button>
            </a>

<a href=/successful/{{ski.id}}>
    <button class="btn btn-lg btn-success" style="position: absolute; left: 75%; right: 20%; bottom: 10%; height:70px; width:140px">
                    confirm </button>
</a>

{%endfor%}



{% endblock %}