{% extends 'base.html'%}

{% block app_content %}
      <h1>Customer page</h1>

        <a href=/ >
                <button class="btn btn-lg" style="position: absolute; left: 10%; right: 20%; bottom: 10%; height:70px; width:140px">
                    back </button>
            </a>
<!--
        <a href=/ >
                <button class="btn btn-lg" style="background-color:powderblue ;position: absolute; left: 50%; right: 50%; bottom: 10%; height:70px; width:140px">
                    next </button>
            </a>-->
             <br>
             <br>

{% endblock %}