{% extends 'base.html'%}

{% block app_content %}
      <h1>Click to select ski brand you want!</h1>
        <br>
        <br>
            <a href=/customer/Nordia>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Nordia</button>
            </a>
            <a href=/customer/Blizzard>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Blizzard</button>
            </a>
            <a href=/customer/Atomic>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Atomic</button>
            </a>

            <a href=/customer/Rossignol>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Rossignol</button>
            </a>



            <a href=/customer/Elan>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Elan</button>
            </a>
            <a href=/customer/Dynafit>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Santa</button>
            </a>
            <a href=/customer/Black_Crows>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Black Crows</button>
            </a>


        <a href=/ >
                <button class="btn btn-lg" style="position: absolute; left: 10%; right: 20%; bottom: 10%; height:70px; width:140px">
                    back </button>
            </a>
             <br>
             <br>

{% endblock %}