{% extends 'base.html'%}

{% block app_content %}
      <h1>Click to check the total income of the ski brand!</h1>
<hr>
        <br>
        <br>
            <a href=/statistic/Nordia>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Nordia</button>
            </a>
            <a href=/statistic/Blizzard>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Blizzard</button>
            </a>
            <a href=/statistic/Atomic>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Atomic</button>
            </a>

            <a href=/statistic/Rossignol>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Rossignol</button>
            </a>

            <a href=/statistic/Elan>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Elan</button>
            </a>
            <a href=/statistic/Dynafit>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Santa</button>
            </a>
            <a href=/statistic/Black%20Crows>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Black Crows</button>
            </a>


        <a href=/admin >
                <button class="btn btn-lg" style="position: absolute; left: 10%; right: 20%; bottom: 10%; height:70px; width:140px">
                    back </button>
            </a>
<!--
        <a href=/ >
                <button class="btn btn-lg" style="background-color:powderblue ;position: absolute; left: 50%; right: 50%; bottom: 10%; height:70px; width:140px">
                    next </button>
            </a>-->
             <br>
             <br>

{% endblock %}