{% extends 'base.html'%}

{% block app_content %}
<h1>Here is the total income for this ski brand</h1>
      <table class="table table-striped">
    <tr>
      <th>ski_brand</th>
      <th>ski_type</th>
        <th>total price ($/day) </th>

    </tr>
    {% for ski in skis %}
      <tr>
        <td>{{ski.ski_brand}}</td>
        <td>{{ski.ski_type}}</td>
          <td>{{ski.price}}</td>
    {%endfor%}

<hr>
          <h1 class="btn pull-right" style='font-size:20px;'> <b>The total income is</b> ${{counts}}</h1>

<a href=/statistic>
                <button class="btn btn-lg" style="position: absolute; left: 10%; right: 20%; bottom: 10%; height:70px; width:140px">
                    back </button>
</a>


{% endblock %}