{% extends 'base.html'%}

{% block app_content %}

    {%for ski in skis%}
   <div class="'jumbotron text-center">
        <h1>Congratulations!</h1>
        <p class="lead">{{ current_user.username }}, you have successfully booked the {{ski.ski_brand}} {{ ski.ski_type }}</p>
        <br>
       <br>
        <p align="center">
            <a href=/ >
                <button class="btn btn-lg" style="height:100px;width:300px">
                    back to home page</button>
            </a>
        </p>
    </div>
    {%endfor%}

{% endblock %}
